*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightgray;
}

.conteudo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    height: 100vh;
}

.conteudo__imagens{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 10px;
}

.conteudo__imagem__botao__azul{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    padding: 1.5%;
    background-color: blue;
    border: 2.5px solid rgb(0, 238, 255);
    border-radius: 7px;
    box-shadow: 0px 0px 6px rgb(0, 238, 255);
    cursor: pointer;
}

.conteudo__imagem__botao__azul > img{
    width: 100%;
}

.conteudo__imagem__botao__verde{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    padding: 1.5%;
    background-color: green;
    border: 2.5px solid rgb(0, 238, 255);
    border-radius: 7px;
    box-shadow: 0px 0px 6px rgb(0, 238, 255);
    cursor: pointer;
}

.conteudo__imagem__botao__verde > img{
    width: 100%;
}

/* [data-som]:active, 
.ativa{
    background-color: aqua;
} */

